#main-canvas,
#text-canvas,
#background-canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 230px;
    top: 0;
    
    max-height: 100vh;
    width: calc(100% - 230px);
    height: auto;

    image-rendering: pixelated;
}

@media (pointer:coarse) and (orientation: landscape) {
    #controls-canvas {
        left: 0 !important;
        width: 100vw !important;
    }

    .sidebar {
        visibility: hidden;
        width: 0;
    }

    #main-canvas,
    #text-canvas,
    #background-canvas {
        width: auto;
        height: 100vh;
    }
}

#text-canvas {
    z-index: 3;
}

#controls-canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    width: calc(100% - 230px);
    left: 230px;
    image-rendering: pixelated;
    touch-action: none;
    z-index: 99;
}


#palette-canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    height: 100%;

    image-rendering: pixelated;
}

*,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #777;
}

.sidebar {
    background-color: #777;
    height: 100vh;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;

    
}

button {
    z-index: 10;
    width: 80%;
}

@font-face {
    font-family: 'Futile Pro';
    src: url('res/fonts/futile_pro.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('res/fonts/FiraCode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}